.bx-wrapper .bx-controls-direction a {
  width: 78px !important;
  height: 78px !important;
}
.bx-wrapper .bx-prev {
  left: 50px !important;
  background: url(https://d-hye.github.io/source/img_tripcar/slideBtnLeft.svg) no-repeat center/contain !important;
}
.bx-wrapper .bx-next {
  right: 50px !important;
  background: url(https://d-hye.github.io/source/img_tripcar/slideBtnRight.svg) no-repeat center/contain !important;
}

#bannerBox1,
#bannerBox2 {
  width: 80px !important;
  height: 80px !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 50% !important;
}
#bannerBox1 > div > a > img,
#bannerBox2 > div > a > img {
  width: 100% !important;
  height: 100%;
}

#footer04 > div.fixed_top {
  bottom: 50px;
  right: 30px;
}

.show_view {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  width: 450px !important;
  height: 300px !important;
  box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
  padding: 20px !important;
  border-radius: 20px !important;
}
.show_view div:nth-child(2) > div > div.shop_list {
  border-bottom: none !important;
  padding-bottom: 0 !important;
}

.shop_list {
  border-bottom: none;
}

.shop_frame {
  padding: 0 !important;
}

#FRM > .show_view .shop_frame.shop_title_text {
  order: 1px;
  font-size: 24px !important;
}
#FRM > .show_view .shop_frame.shop_title_text + .shop_frame {
  order: 2;
}
#FRM > .show_view .shop_frame.shop_title_text div:nth-child(1) {
  font-size: 20px !important;
}
#FRM > .show_view .shop_frame.clearfix.shop_framehyo {
  font-size: 20px !important;
  border-top: none !important;
}

.shop_btn a div {
  background: #3EB489 !important;
  border-radius: 50px !important;
}

.shop_btn02 a div {
  border-radius: 50px !important;
}

#tot_txt {
  font: size 25px !important;
}

#imgSize > form > div.shop-cade03 > ul > li.active {
  border: 2px solid #3EB489 !important;
}
#imgSize > form > div.shop-cade03 > ul > li.active a {
  color: #3EB489 !important;
}
#imgSize > form > div.shop-cade03 > ul > li.active a:hover {
  color: #3EB489 !important;
}
#imgSize > form > table.gTable2 > tbody > tr:first-child > td {
  border: 1px solid #ccc !important;
}
#imgSize > form > table > tbody > tr:nth-child(3) > td > table > tbody > tr:nth-child(11) > td {
  background-color: transparent !important;
}
#imgSize > div > div.tabMenuArea > ul {
  color: #4c4c4c !important;
  font-weight: 700;
}

tr.dis_none {
  display: none;
}

[name=frm01] td[bgcolor] {
  background-color: #8d8d8d;
}

[name=FRM] tr:nth-child(2) > td:nth-child(2)[bgcolor] {
  background-color: #8d8d8d;
}

[name=FRM] .gTable2 tr:first-of-type > td {
  border-top: 3px solid #8c8c8c;
}

div.tabMenuArea > ul > li:hover,
div.tabMenuArea > ul > li a:hover {
  color: #3EB489 !important;
}

#list_table > tbody > tr:nth-child(2) div {
  box-shadow: none !important;
  background: none !important;
  text-align: left !important;
}
#list_table > tbody > tr:nth-child(2) table {
  background: none !important;
}
#list_table > tbody > tr:nth-child(2) .bgc_000 {
  display: none !important;
}
#list_table .gal_img img {
  width: 100% !important;
  height: 100% !important;
}