@font-face {
   font-family: 'Katuri';
   src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

 //메인페이지 배너
 .bx-wrapper {
    .bx-controls-direction {
       a {
          width: 78px !important;
          height: 78px !important;
       }
    }

    .bx-prev {
       left: 50px !important;
       background: url(https://d-hye.github.io/source/img_tripcar/slideBtnLeft.svg) no-repeat center / contain !important;
    }

    .bx-next {
       right: 50px !important;
       background: url(https://d-hye.github.io/source/img_tripcar/slideBtnRight.svg) no-repeat center / contain !important;
    }
 }

 //div.shopSelBox02 > div > select, .shopPriceBox+div, #prdAsment, #tabMenus,#FRM > table:nth-child(37), #tabMenus, .shop_list, .shopPriceBox{display:none;}

 #bannerBox1,
 #bannerBox2 {
    width: 80px !important;
    height: 80px !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-radius: 50% !important;

    >div>a>img {
       width: 100% !important;
       height: 100%;
    }
 }

 //퀵메뉴
 #footer04 {
    >div.fixed_top {
       bottom: 50px;
       right: 30px;
    }
 }

 //상세페이지 박스
 #FRM>.show_view {

    >.shop_frame.clearfix.shop_framehyo,
    >.shopPriceBox,
    >.opt_content,
    >.shop_list02 {
       display: none !important;
    }
 }

 #FRM>.show_view {
    display: flex !important;
    flex-direction: column !important;
    width: 450px !important;
    height: 300px !important;
    box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
    padding: 20px !important;
    border-radius: 20px !important;

    div:nth-child(2)>div>div.shop_list {
       border-bottom: none !important;
       padding-bottom: 0 !important;
    }

    .shop_frame.shop_title_text {
       order: 1;
       font-size: 24px !important;
       margin-bottom: auto !important;

       +.shop_frame {
          order: 2;
          padding: 0 !important;

          .shop_list {
             border-bottom: none !important;

             >s {
                font-family: 'Noto Sans KR', sans-serif !important;
                font-weight: 500 !important;
                font-size: 16px !important;
                margin-right: 0 !important;
             }

             >span>strong {
                font-family: Noto Sans KR, sans-serif !important;
                color: #ff7f50 !important;
                font-weight: 900 !important;
             }
          }
       }
    }

    >.shop_frame.clearfix.shop_framehyo {
       font-size: 20px !important;
       border-top: none !important;
    }
 }

 #FRM>div.show_view>div:nth-child(1) {
    font-size: 20px !important;
 }

 #FRM>div.show_view>div:nth-child(2)>div>div {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
 }

 #FRM>div.show_view>div:nth-child(9) {
    display: none !important;
 }

 #FRM>div.show_view>div:nth-child(10) {
    order: 3;
 }

 #FRM>div.show_view>div:nth-child(11) {
    margin-top: 0 !important;
 }

 //#FRM > div.show_view > div:nth-child(11) {order:3; margin-top: 0 !important;}
 //#FRM > div.show_view > div:nth-child(9){order:4}
 //#FRM > div.show_view > div:nth-child(10){order:5}
 //#FRM > div.show_view > div:nth-child(10) > div:nth-child(3) > a > div{border-radius:50px;}

 .shop_btn a div {
    background: #3EB489 !important;
    border-radius: 50px !important;
 }

 .shop_btn02 a div {
    border-radius: 50px !important;
 }

 #tot_txt {
    font: size 25px !important;
 }

 // 렌트카 목록페이지
 #imgSize {
    >form {
       >div.shop-cade03>ul>li {
          &.active {
             border: 2px solid #3EB489 !important;

             a {
                color: #3EB489 !important;

             }
          }

          a {

             &:hover {
                color: #3EB489 !important;
             }
          }
       }

       >table.gTable2>tbody>tr:first-child>td {
          border: 1px solid #ccc !important;
       }

       // >table>tbody>tr:nth-child(3)>td>table>tbody>tr:nth-child(11)>td {
       //    background-color: transparent !important;
       // }
    }

    >div>div.tabMenuArea>ul {
       color: #4c4c4c !important;
       font-weight: 700;
    }
 }

 //이용문의페이지
 tr.dis_none {
    display: none;
 }

 // //[name="frm01"] td[bgcolor] {
 //    background-color: #8d8d8d;
 // }

 [name="FRM"] tr:nth-child(2)>td:nth-child(2)[bgcolor] {
    background-color: #8d8d8d;
 }

 [name="FRM"] .gTable2 tr:first-of-type {
    >td {
       border-top: 3px solid #8c8c8c;
    }

    >th {
       border-top: 1px solid #ccc !important;
    }
 }

 div.tabMenuArea>ul>li:hover,
 div.tabMenuArea>ul>li a:hover {
    color: #3EB489 !important;
 }

 [name="frm01"] {
    #list_table {
       td {
          table {
             padding: 0 !important;
          }
       }

    }

 }

 #list_table {
    >tbody>tr:nth-child(2) {
       div {
          box-shadow: none !important;
          background: none !important;
          text-align: left !important;
       }

       table {
          background: none !important;
       }

       .bgc_000 {
          display: none !important;
       }
    }

    .gal_img {
       img {
          width: 100% !important;
          height: 100% !important;
          object-fit: cover !important;
          max-width: none !important;
          max-height: none !important;
       }
    }

    .bgc_pos {
       height: 300px !important;
    }

    .gal_ttl.limitTxt {
       font-size: 20px !important;
       font-weight: 600 !important;

       a:link {
          color: #333 !important;

          &:hover {
             color: #3EB489 !important
          }
       }
    }
 }

 //이벤트페이지
 .eventPage #list_table {
    tbody {
       display: flex, im !important;
       flex-direction: column !important;

       >tr>td>table {
          font-family: "Noto Sans KR", sans-serif !important;
          border: none !important;
          border-bottom: none !important;
          padding: 0 0 !important;

          >tbody,
          >tbody>tr {
             display: flex !important;

             >td:last-child {
                display: flex !important;
                flex-direction: column !important;
                position: relative !important;

                >div:first-child {
                   display: none !important;
                }

                .nbg {
                   order: 2 !important;

                   a {
                      position: absolute !important;
                      top: 0 !important;
                      padding: 60px 0 !important;
                      font-weight: 400 !important;
                   }
                }

                br {
                   display: none !important;
                }

                span {
                   order: 1 !important;
                   font-size: 22px !important;
                   color: #333;
                   padding: 10px 0 !important;
                   font-family: "Katuri" !important;
                   br {
                      display: none !important;
                   }
                }
             }
          }
       }
    }
 }

 #layoutBg>div {
    padding-top: 0 !important;
 }

 //페이지넘버
 .pageNum {
    display: flex !important;
    justify-content: center !important;

    a {
       display: flex !important;
       justify-content: center !important;
       align-items: center !important;
       width: fit-content !important;
    }
 }